<nav class="navbar navbar-default navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="/">Toto</a>-->
    </div>
    {% if current_user.is_authenticated %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
                <li><a href="/statistics">Статистика</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.role == 'ADMIN' %}
                    <li><a href="/admin">Добавить матч</a></li>
                    <li><a>|</a></li>
                    <li><a href="/addresult">Добавить результат матча</a></li>
                {% endif %}

                <li>
                    <a href="/users/{{ current_user['nickname'] }}"><span class="glyphicon glyphicon-user"></span></a>
                </li>

                <li>
                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
        </div>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/register">Регистрация</a></li>
        </ul>
    {% endif %}
  </div>
</nav>
