<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <script src="/static/libs/jquery/jquery-2.2.3.min.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Home</title>
</head>

<body>
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <div class="row"><h2>Ближайшие матчи</h2></div>
            <table class="table table-hover">
                <colgroup>
                    <col class="col-md-4">
                    <col class="col-md-1">
                    <col class="col-md-3">
                    <col class="col-md-4">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-right">Домашняя команда</th>
                        <th class="text-center"></th>
                        <th>Гостевая команда</th>
                        <th class="text-left">Ставка</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range (matches|length) %}
                    {% set match = matches[i] %}
                    {% if i == 0 or matches[i].Match.time_start.day != matches[i-1].Match.time_start.day %}
                        <tr class="text-center info">
                            <td class="get-normal-date-from-datetime" colspan="8">{{ match.Match.time_start }}</td>
                        </tr>
                    {% endif %}
                    <tr>

                        <td><div class="text-right">
                            <div class="team">{{match.Match.home_team}}</div>
                        </div></td>
                        <td><div class="score">
                            &mdash;
                            </div>
                        </td>
                        <td><div class="text-left">
                            <div class="team">{{match.Match.away_team}}</div>
                        </div></td>
                        <td><div class="text-left match-score-column">
                            <input class="team-score-input" value="{{match.Bet.home_team_score}}"
                               data-match-id="{{match.Match.id}}" id="match_{{match.Match.id}}_home"/>
                                <span>:</span>
                            <input class="team-score-input" value="{{match.Bet.away_team_score}}"
                               data-match-id="{{match.Match.id}}" id="match_{{match.Match.id}}_away"/>
                        </div></td>

                    </tr>
                    {% endfor %}
            </tbody>
        </table>
            </div>

            <div class="col-lg-6 col-md-12 text-center">
                <div class="row"><h2>Прошедшие матчи</h2></div>
                <table class="table table-hover">
                <colgroup>
                    <col class="col-md-4">
                    <col class="col-md-1">
                    <col class="col-md-3">
                    <col class="col-md-1">
                    <col class="col-md-3">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-right">Домашняя команда</th>
                        <th class="text-center">Исход</th>
                        <th>Гостевая команда</th>
                        <th class="text-center">Ставка</th>
                        <th class="text-center">Баллы</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range (past_matches|length) %}
                    {% set match = past_matches[i] %}
                    {% if i == 0 or past_matches[i].Match.time_start.day != past_matches[i-1].Match.time_start.day %}
                        <tr class="text-center info">
                            <td class="get-normal-date-from-datetime" colspan="8">{{ match.Match.time_start }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><div class="text-right">
                            <div class="team">{{match.Match.home_team}}</div>
                        </div></td>
                        <td>
                            <div class="score">
                            {{match.Match.home_team_score if match.Match.home_team_score is not none}}
                            <span>:</span>
                            {{match.Match.away_team_score if match.Match.away_team_score is not none}}
                            </div>
                        </td>
                        <td><div class="text-left">
                            <div class="team">{{match.Match.away_team}}</div>
                        </div></td>
                        <td>
                            <div class="text-center match-score-column">
                                {% if match.Bet is not none %}
                                    {{match.Bet.home_team_score}}
                                        <span>:</span>
                                    {{match.Bet.away_team_score}}
                                {% else %}
                                    <span>—</span>
                                {% endif %}
                            </div>
                        </td>
                        <td class="text-center">
                            {% if match.Bet is not none and match.Bet.points is not none %}
                            <div class="bet-points">{{match.Bet.points}}</div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/static/js/home.js"></script>
</body>

</html>