<html>
    <head>
        <script src="/static/libs/jquery/jquery-2.2.3.min.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/bootstrap/css/my-style.css">
    </head>
    <body>
        {% include 'header.html' %}
        <div class="container-fluid">
            <form action="" method="post" name="login" style="width: 200px" class="center-block">
                <div class="row">
                    <h1 class="text-center">Вход</h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="nickname">Имя пользователя</label>
                            {{form.nickname(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            {{form.password(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <input class="btn btn-primary form-control" type="submit" value="Login">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>