<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
        <script src="/static/libs/jquery/jquery-2.2.3.min.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>

    {% include 'header.html' %}

    <div class="container-fluid">
        <form action="" method="post" name="settings" style="width: 600px" class="center-block">
            <div class="row">
                <h1>Настройки</h1>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <label>Ваш логин</label>
                    {{}}
                </div>
                <div class="col-xs-2">
                    <ul class="list-inline">
                        <li><a href="#">Изменить</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
        </form>
    </div>

</body>
</html>