<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <script src="/static/libs/jquery/jquery-2.2.3.min.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap.css">

    <script src="/static/js/common.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Статистика</title>
    <style>
        .rating-table {
            border: 2px solid #A8A8A8;
            padding: 10px;
            position: fixed;
            right: 10%;
            margin-top: 180px;
        }
        .rating-table > .table {
            margin-bottom: 5px;
        }
        .last-day-points-table {
            border: 2px solid #A8A8A8;
            padding: 10px;
            position: fixed;

            right: 10%;

        }
        .last-day-points-table > .table {
            margin-bottom: 5px;
        }
        caption {
            padding-top: 4px;
            padding-bottom: 4px;
            color: #333;
            text-align: center;
        }
        .team-score-input{
            width: 20px;
            text-align: center;
        }
        .match-score-column{
            white-space: nowrap;
            padding: 0px;
        }

    </style>

</head>
<body>
    {% include 'header.html' %}
    <div class="container-fluid">
        <form class="tournament-name form-inline" method="POST" action="/statistics" name="tournament-name">
              <div class="form-group">
                <div class="input-group">
                    <select name="select-tournament" class='select-tournament form control' >
                        {% for t in range(tournaments|length) %}
                            {% set tournament = tournaments[t] %}
                            <option value="/statistics/{{tournament[0]}}"
                                    {{ 'selected="selected"' if tournament[0]==current_tournament.name }}>
                                {{tournament[1]}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
              </div>
        </form>
             <div class="text-center"><h2>{{current_tournament.name_full}}</h2></div>
        <div class="row">
            <div class="col-xs-6"> <!-- The last matches -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- th class="text-right">Дата</th -->
                            <th class="text-right">Домашняя команда</th>
                            <th class="text-center">Счёт</th>
                            <th>Гостевая команда</th>
                            {% for user in users_list %}
                            <th class="text-center">{{user.nickname}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {% for i in range(matches_data|length) %}
                    {% set match_data = matches_data[i] %}
                    {% if i == 0 or matches_data[i]['match'].time_start.day != matches_data[i-1]['match'].time_start.day
                                or matches_data[i]['match'].time_start.month != matches_data[i-1]['match'].time_start.month
                                or matches_data[i]['match'].time_start.year != matches_data[i-1]['match'].time_start.year%}
                                    <tr class="text-center info">
                            <td class="get-normal-date-from-datetime" colspan="8">{{ match_data['match'].time_start }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="text-right">{{match_data['match'].home_team if match_data['match'].home_team.istitle() else match_data['match'].home_team.title()}}</td>
                        <td class="text-center">
                            {{match_data['match'].home_team_score if match_data['match'].home_team_score is not none else "-"}}:{{match_data['match'].away_team_score if match_data['match'].away_team_score is not none else "-"}}
                        </td>
                        <td>{{match_data['match'].away_team if match_data['match'].away_team.istitle() else match_data['match'].away_team.title()}}</td>
                        {% if match_data['match'].time_start < now %}
                            {% for user in users_list %}
                            <td class="text-center">
                                {% if match_data['users'][user.id]['bet'] is not none %}
                                    {% if match_data['users'][user.id]['bet'].home_team_score is not none %}
                                        {{match_data['users'][user.id]['bet'].home_team_score}}:{{match_data['users'][user.id]['bet'].away_team_score}}
                                    {% else %}
                                        —
                                    {% endif %}
                                {% else %}
                                    —
                                {% endif %}
                                <br>
                                {% if match_data['users'][user.id]['bet'] is not none %}
                                    {% if match_data['users'][user.id]['bet'].total_points is not none %}
                                        <div class="bet-points">{{(match_data['users'][user.id]['bet'].total_points|round(1)|string).rstrip('0').rstrip('.')}}</div>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% endfor %}
                        {% else %}
                            {% for user in users_list %}
                                <td class="text-center">
                                    {% if current_user.id == user.id %}
                                    <div class="text-left match-score-column">
                                        <input class="team-score-input" value="{{match_data['users'][user.id]['bet'].home_team_score}}"
                                            data-match-id="{{match_data['match'].id}}" id="match_{{match_data['match'].id}}_home"/>
                                            <span>:</span>
                                        <input class="team-score-input" value="{{match_data['users'][user.id]['bet'].away_team_score}}"
                                             data-match-id="{{match_data['match'].id}}" id="match_{{match_data['match'].id}}_away"/>
                                    </div>

                                    {% else %}
                                        {% if match_data['users'][user.id]['bet'] is not none %}
                                            <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}

                                    {% endif %}

                            </td>
                            {% endfor %}
                        {% endif %}
                    </tr>

                    {% endfor %}
                </table>
            </div>



            <div class="col-xs-2 col-xs-offset-2 rating-table" style="
                margin-top: 0px; min-width: 290px;
            "> <!-- Ratings -->
                <table class="table table-striped">
                    <caption>Общий рейтинг</caption>
                    <thead>
                        <tr>
                            <th class="text-right">Место</th>
                            <th class="text-left">Имя</th>
                            <th class="text-left">О/П*</th>
                            <th class="text-right">Счёт</th>
                        </tr>
                    </thead>
                    {% for i in range(0, rating_table|length) %}
                    {% set row = rating_table[i] %}
                    <tr>
                        <td class="text-right">{{i + 1}}</td>
                        <td class="text-left">{{row.User.nickname}}</td>
                        <td class="text-left">{{(row.points|int / row.count)|round(2, 'floor') if row.count > 0 else ""}}</td>
                        <td class="text-right">
                            <b>{{(row.total_points|round(1)|string).rstrip('0').rstrip('.') if row.total_points is not none else "0"}}</b>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <small>*Среднее количество очков за каждый прогноз без учета коэффициентов</small>

            </div>

                {% if last_day_points|length > 0 %}
            <div class="col-xs-2 col-xs-offset-2 last-day-points-table" style="margin-top: 317px; min-width: 290px;"> <!-- Last day points -->
                <table class="table table-striped">
                    <caption>Рейтинг за последний игровой день</caption>
                    <thead>
                        <tr>
                            <th class="text-right">Место</th>
                            <th class="text-left">Имя</th>
                            <th class="text-right">Счёт</th>
                        </tr>
                    </thead>
                    {% for o in range(0, last_day_points|length) %}
                    {% set row = last_day_points[o] %}
                    <tr>
                        <td class="text-right">{{o + 1}}</td>
                        <td class="text-left">{{row.User.nickname}}</td>
                        <td class="text-right">
                            <b>{{(row.total_points|round(1)|string).rstrip('0').rstrip('.') if row.total_points is not none else "0"}}</b>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
                {% endif %}

                </div>

        </div>
    </div>

    <script src="/static/js/statistic.js"></script>
</body>
</html>